.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.bttn {
    padding: 15px;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    
  /*  border-radius: 55px;*/
    cursor: pointer;
} 

.calculator {
    width: 280px;
    height: 500px;
}

.screen {
    background-color: black;
    color: antiquewhite;
    text-align: right;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
}

.operator {
    background-color: darkorange;  
}