.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10x;
}

.bttn {
    padding: 15px;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    
  /*  border-radius: 55px;*/
    cursor: pointer;
} 

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    width: 280px;
    height: 500px;
}

.display {
    background-color: black;
    color: antiquewhite;
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

.upperDisplay {
    min-height: 32px;
    font-size: 20px;
}
.bigDisplay {
    /*min-height: 64px;*/
    font-size: 40px;
}

.orange {
    background-color: darkorange;  
}